ion-title {
    display: flex;
    flex-direction: row;
}	
#logo {
    width: 300px;
    height: auto;
    margin-right: 10px;
}

.redireccionar{
    // height: 300px;
    // width: 400px;
   height: 25vh;
   width: 25vw;
   border-radius: 10px;
   
}

.redireccionar:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    
}
.imagenes
{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    align-items: flex-start;
    justify-content: center;
    height: 10%;
    gap: 50px;
    
    
  
}
ion-button {
    --background: radial-gradient(circle,#007bff, #3d2aaa);
    
    --border-radius: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --color: white;

    
}
.texto {
    padding-top: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}

.animacion {
    font-family: "Bebas Neue", sans-serif;
    display: inline-block;
  animation: aparecer 1s ease-in-out;
  color: #007bff;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}