<ion-header [translucent]="true">
 <ion-toolbar style="--background: #00101f; --color: white; position: relative;">
  <ion-buttons slot="start">
    <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
      <img src="../../assets/images/logo.png" style="width: auto; height: 100px;" alt="">
      <span class="animacion" style="font-size: 5vw; color: white;">Bienvenido</span>
    </div>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">a</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="height: 75vh;" class="imagenes">
   
    <ion-button (click)="navigateToEjercicios()">
      <div class="dentro">
        <img src="../../assets/images/Gus2.png" alt="" class="redireccionar">
        <div class="texto">Ejercicios</div> 
      </div>
      
    </ion-button>
    <ion-button (click)="navigateToMapa()">
     <div class="dentro">
      <img src="../../assets/images/image.png" alt="" class="redireccionar">
      <div class="texto">Gimnasios cercanos</div>
     </div>
    </ion-button>
    <ion-button (click)="navigateToComentarios()">
      <div class="dentro">
        <img src="../../assets/images/Gus3.png" alt="" class="redireccionar">
        <div class="texto">Comentarios</div>
      </div>
    </ion-button>
  </div>
  
<ion-button class="boton" (click)="logout()">
  <ion-icon name="log-in-outline"></ion-icon>
  <span>Cierra sesión</span>
</ion-button>
    
  
</ion-content>
