<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center; padding-left: 10px; background: #00101f; ">
      <ion-img src="assets/images/logo.png" style="width: 200px; height: 200px;"></ion-img>
      <ion-title class="bebas-neue-regular" style="font-size: 80px; color: white;">Buscar gym</ion-title>
    </div>
  </ion-toolbar>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</ion-header>

<ion-content fullscreen="true">
  <div id="map"></div>

  <ion-item>
    <ion-input [(ngModel)]="busqueda" placeholder="Buscar gimnasio"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="buscarGimnasio()">Buscar</ion-button>

  <ion-button (click)="navigateToIndex()">
      <div class="dentro">
        
        <div class="texto">Regresar al index</div>
      </div>
    </ion-button>
</ion-content>

