<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</ion-header>

<ion-content [fullscreen]="true" class="roboto-font">
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>TrainWise</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-list>
        <ion-item>
          <ion-label>Crear cuenta</ion-label>
        </ion-item>
        <ion-item (click)="onSignUp()">

          <ion-label class="hover-text">Iniciar sesion</ion-label>

        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title style="text-align: center;">TrainWise</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
  <div class="image-container">
    <ion-img class="profile-img" src="assets/images/Gus.png" alt="error"></ion-img>
  </div>
  <div style="text-align: center; font-size: 80px; margin-top: 30px;">
    Entrena tu cuerpo
  </div>


</ion-content>

<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
  <input type="email" id="email" name="email" [(ngModel)]="emailInput"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Agrega correo" required #email="ngModel" />
  <input type="password" id="password" name="password" [(ngModel)]="passwordInput"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Agrega contraseña" required #password="ngModel" />
  <button type="submit"
    class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    [disabled]="registerForm.invalid">
    crear cuenta
  </button>
</form>
<button (click)="onSignUp()" type="button"
  class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
  Ir a inicio de sesion
</button>